@page "/createAuth"

@using PruebaPracticaGISSA.Data
@layout PruebaPracticaGISSA.Shared.MainLayout;

@inject DbService DbService;

<PageTitle>Crear Usuario</PageTitle>

<h3 style="text-align:center; color: white; font-size:2.4rem">Crear Usuario</h3>

<UserForm @ref="userForm" OnAction="OnCreateUser" OnShowMessage="HandleShowMessage" User="User"></UserForm>


@if (messageShown)
{
    <MessageWindow title="@messageTitle" message="@messageBody" type="@messageType" imageUrl="@messageImage" OnClose="hideMessage"></MessageWindow>
}