@page "/login"
@inject NavigationManager Navigation;
@layout PruebaPracticaGISSA.Shared.BlankLayout;




<style>
    :root {
        --primary: #4978F0;
        --primary-light: #E1EEF5;
        --secondary: #1D1D1D;
        --background: #F4F1FF;
        --text: #1F2346;
    }

    body {
        font-size: 1rem;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Arial;
    }

    .page {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-image: url('https://img.freepik.com/free-vector/cartoon-galaxy-background-with-planets_23-2148966504.jpg?t=st=1715841984~exp=1715845584~hmac=ccf147dacc08cb48ba7692cbc84e989094dd0c55b7b533b7d7308924cade6307&w=826');
        background-size: cover;
        background-repeat: no-repeat;
    }

    .my-form__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        max-width: 28.75rem;
        width: 100%;
        padding: 3rem 2rem;
        height: fit-content;
        box-shadow: rgba(100, 100, 111, 0.4) 0rem 6px 26px 0rem;
        /* margin: 0 auto;
        margin-top: 80px; */
        border-radius: 30px;
        /* background-color: var(--background); */
        background-color: rgba(240, 240, 240, 0.4);
        margin: 0 auto;
    }

    .my-form {
        display: flex;
        flex-direction: column;
        /* justify-content: start; */
        position: relative;
        gap: 1rem;
    }


    .my-form__button {
        background-color: var(--primary);
        color: white;
        white-space: nowrap;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
        line-height: 3.125rem;
        outline: none;
        font-size: 1.125rem;
        letter-spacing: .025em;
        text-decoration: none;
        cursor: pointer;
        font-weight: 800;
        min-height: 3.125rem;
        width: 100%;
        border-radius: 0.5rem;
        box-shadow: 0 4px 10px rgba(0,0,0,.15);
        transition: all .3s ease;
        -webkit-transition: all .3s ease;
    }

    .my-form__actions {
        display: flex;
        flex-direction: column;
        color: var(--secondary);
        gap: 1rem;
        margin-top: 0.5rem;
    }

    .my-form__actions a {
        color: var(--secondary);
        font-weight: 600;
        text-decoration: none;
    }

    .my-form__actions a:hover {
        text-decoration: underline;
    }

    .my-form__row {
        display: flex;
        justify-content: space-between;
    }

    .my-form__signup {
        display: flex;
        justify-content: center;
    }

    .my-form__signup a {
        color: var(--primary);
        font-weight: 800;
        text-decoration: none;
        font-size: 1.125rem;
    }

    .my-form__signup a:hover {
        text-decoration: underline;
    }

    .text-field input {
        color: var(--secondary);
        font-size: 1rem;
        font-weight: 500;
        max-width: 100%;
        width: 100%;
        border: 1px solid var(--secondary);
        height: 3.125rem;
        letter-spacing: .03rem;
        background-color: transparent;
        outline: none;
        transition: .25s;
        border-radius: 0.5rem;
        text-indent: 1.25rem;
        margin-top: 0.5rem;
    }

    .text-field {
        position: relative;
    }

    .text-field img {
        position: absolute;
        right: -0.125rem;
        bottom: -0.25rem;
        width: 1.875rem;
        height: 1.875rem;
        transform: translate(-50%,-50%);
        transform-origin: center;
    }

    .text-field input:focus {
        border: 0.0625rem solid var(--primary);
            background-color: #dbd4d4;
    }

    .text-field label, span {
        /* color: var(--secondary); */
        color:antiquewhite;
        /* font-size: 0.875rem; */
        font-size: 1rem;
        font-weight: 700;
        letter-spacing: .04rem;
        z-index: 10;
    }

</style>

<PageTitle>Login</PageTitle>

<div style="height:100%">
    <Login @ref="loginComponent" OnLoginResult="HandleLoginResult" OnForgotPassword="HandleForgotPassword" OnCreateAccount="HandleCreateAccount"></Login>
</div>


@if (messageShown)
{
    <MessageWindow title="@messageTitle" message="@messageBody" type="@messageType" imageUrl="@messageImage" OnClose="hideMessage"></MessageWindow>
}

