@inherits LayoutComponentBase

@* <PageTitle>Login</PageTitle> *@

<div class="page" style="background-image: url('https://img.freepik.com/free-vector/cartoon-galaxy-background-with-planets_23-2148966504.jpg?t=st=1715841984~exp=1715845584~hmac=ccf147dacc08cb48ba7692cbc84e989094dd0c55b7b533b7d7308924cade6307&w=826'); background-size: cover; background-repeat: no-repeat;">
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
<ToastComponent />