@inherits LayoutComponentBase

<PageTitle>Prueba Practica - GISSA</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        @* <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div> *@

        <article class="content px-4" style="background-image: url('https://img.freepik.com/free-vector/cartoon-galaxy-background-with-planets_23-2148966504.jpg?t=st=1715841984~exp=1715845584~hmac=ccf147dacc08cb48ba7692cbc84e989094dd0c55b7b533b7d7308924cade6307&w=826'); background-size: cover; background-repeat: no-repeat; height:100%;">
            @Body
            @* <RadzenNotification />
            <ToastComponent /> *@
        </article>
    </main>
</div>


